@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/mulish-variable.ttf') format('truetype');
}

$white: #FFFFFF;
$green: #7AC751;
$grey: #B0B0B0;
$light-grey: #E9E9E9;
$text: #555555;
$nav-grey: #F7F8FA;
$nav-border: #E3E3E3;
$slide-dark: #2F2F2F;
$offer-link: #757575;
$blue: #00B7F1;
$text-grey: #C2C2C2;
$red: #FF6868;

@mixin font-inherit {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

@mixin mulish-font {
    font-family: 'Mulish';
    font-style: normal;
}

@mixin header-welcome-font {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

@mixin header-search-logo-font {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $text;
}

@mixin header-search-input-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $text;
}

@mixin header-cart-badge-font {
    font-weight: 600;
    font-size: 9px;
    line-height: 8px;
    color: $white;
}

@mixin header-navigation-main-font {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin aside-menu-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $text;
    text-transform: capitalize;
}

@mixin slide-h2-font {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $green;
    text-transform: uppercase;
}

@mixin slide-h3-font {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: $slide-dark;
    text-transform: capitalize;
}

@mixin slide-p-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
}

@mixin slide-a-font {
    @include mulish-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;
}

@mixin feature-h3-font {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $text;
    margin: 0;
}

@mixin feature-p-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
    margin: 0;
}

@mixin offer-h3-font {
    @include mulish-font;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $text;
    margin: 0;
}

@mixin offer-p-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $green;
    margin: 0;
}

@mixin offer-a-font {
    @include mulish-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $offer-link;
    margin: 0;
}

@mixin footer-link-font {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #555555;
    margin: 0;
}

@mixin footer-logo-a-font {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $text;
}

@mixin footer-logo-p-font {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $text;
}

@mixin footer-copyright-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $text;
}

@mixin trending-card-h4-font {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: $text;
    margin: 0;
}

@mixin trending-card-p-font {
    @include mulish-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
    margin: 0;
}

@mixin trending-card-price-font {
    @include mulish-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: $green;
}

@mixin trending-card-badge-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.008em;
    color: $white;
}

@mixin trending-h2-font {
    @include mulish-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: $text;
    text-transform: uppercase;
    margin: 0;
}

@mixin trending-categoies-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    text-transform: capitalize;
}

@mixin products-paginator-button-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $white;
}

@mixin products-paginator-font {
    @include mulish-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: $offer-link;
}

@mixin offer-special-times-digits {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: $white;
}

@mixin offer-special-times-label {
    font-weight: 400;
    font-size: 6px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: $white;
}

@mixin article-h3-font {
    @include mulish-font;
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: $white;
}

@mixin article-a-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: $white;
}

@mixin articel-date-font {
    @include mulish-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: $white;
}

@mixin article-promotion-font {
    @include mulish-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: $green;
}

@mixin feedback-text-font {
    @include mulish-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.005em;
    color: $text;
}

@mixin feedback-author-font {
    @include mulish-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: $text;
}

@mixin feedback-proffesi-font {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.005em;
    color: $text;
}

body {
    margin: 0;
    min-width: 1220px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.bg-green {
    background-color: $green;
}

.bg-blue {
    background-color: $blue;
}

.bg-red {
    background-color: $red;
}

.container {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 15px;
}

.header-welcome-block {
    background-color: $green;
}

.header-welcome {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &>:first-child {
        margin-right: auto;
    }

    &>:last-child {
        border-left: 2px solid $white;
        padding-left: 20px;
        margin: 15px 0;
    }

    .header-welcome-item {
        @include header-welcome-font;

        a {
            @include font-inherit;
        }

        .header-welcome-item-region {
            display: flex;
            align-items: center;

            span {
                display: block;
                width: 12px;
                height: 12px;
                background: url("../assets/arrow-down.svg") no-repeat center;
                margin-left: 10px;
            }
        }
    }
}

.header-search-block {
    padding: 20px 0;
}

.header-search {
    display: flex;
    justify-content: space-between;

    .header-search-logo {
        display: flex;
        align-items: center;

        @include header-search-logo-font;

        span {
            display: block;
            width: 32px;
            height: 38px;
            margin-right: 5px;
            background: url("../assets/logo.svg") no-repeat center;
        }
    }
}

.header-search-form {
    display: flex;
    align-self: center;

    border: 2px solid $green;
    border-radius: 8px;

    .header-search-input {
        margin: 2px;
        border: none;
        padding: 15px 25px;
        width: 380px;
        @include header-search-input-font;

        &:focus {
            border-radius: 4px 0 0 4px;
            outline: none;
            background-color: $light-grey;
        }
    }

    .header-search-category {
        margin: 1px;
        border: none;
        border-left: 2px solid $light-grey;
        padding: 5px 10px;
        background-color: $white;
        border-right: 15px solid transparent;


        @include header-search-input-font;

        &:focus {
            outline: none;
            background-color: $light-grey ;
        }
    }

    .header-search-button {
        border: none;
        background: $green url("../assets/search.svg") no-repeat center;
        width: 55px;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            outline: none;
            opacity: 0.8;
        }
    }
}

.header-search-menu {
    display: flex;
    column-gap: 20px;
    align-items: center;

    a {
        display: flex;
        position: relative;

        span {
            display: block;
            width: 26px;
            height: 26px;
        }
    }

    .icon-cart {
        background: url("../assets/cart.svg") no-repeat center;
    }

    .cart-badge {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: -5px;
        top: -5px;

        width: 18px;
        height: 18px;

        border-radius: 50%;
        background-color: $green;

        @include header-cart-badge-font;
    }

    .icon-notify {
        background: url("../assets/notify.svg") no-repeat center;
    }

    .icon-profile {
        background: url("../assets/profile.svg") no-repeat center;
    }
}

.header-navigation-block {
    background: $nav-grey;
}

.header-navigation {
    display: flex;

    @include header-navigation-main-font;

    .header-decoration-block {
        display: flex;
        justify-content: center;
        column-gap: 20px;

        width: 260px;
        box-sizing: border-box;

        padding: 25px 35px;
        background-color: $green;
        color: $white;

        span {
            display: block;
            background: url("../assets/menu.svg") no-repeat center;
            width: 18px;
            height: 18px;
        }
    }
}

.header-navigation-main {
    display: flex;
    padding: 25px 80px;
    align-items: center;
    column-gap: 55px;

    a {
        color: $text;
        padding: 5px;
    }
}

.main-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    margin-top: -1px;
}

.aside-category-menu {
    background-color: $nav-grey;

    li:not(:last-child) {
        border-bottom: 1px solid $nav-border;
    }

    a {
        display: block;
        @include aside-menu-font;
        padding: 15px 20px;
    }
}

.content {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #F3FBFF;
}

.slider-block {
    position: relative;
}

.slider-controls {
    display: flex;
    column-gap: 20px;

    position: absolute;
    left: 45%;

    bottom: 20px;

    .slider-dot {
        display: block;
        width: 20px;
        height: 20px;
        background-color: $green;
        border-radius: 50%;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .slider-dot-active {
        opacity: 1;
    }
}

.slide {
    display: flex;
    justify-content: space-between;
    height: 440px;

    padding: 35px 45px;

    .slide-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 320px;

        h2 {
            margin: 0;
            margin-bottom: 10px;
            @include slide-h2-font;
        }

        h3 {
            margin: 0;
            margin-bottom: 30px;
            @include slide-h3-font;
        }

        p {
            @include slide-p-font;
            margin: 0;
            margin-bottom: 35px;
        }

        a {
            display: block;
            padding: 10px 20px;
            @include slide-a-font;
            background-color: $green;
            border-radius: 5px;
        }
    }

    .slide-image {
        display: flex;
        align-items: center;
        width: 370px;

        img {
            width: 100%;
        }
    }

    .slide-thumbs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95px;
            height: 95px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
            border: 2px solid #FFFFFF;
            border-radius: 8px;
        }
    }
}

.feature-block {
    display: flex;
    justify-content: space-between;
    margin: 65px 0;

    .feature-item {
        display: flex;
        align-items: center;

        span {
            display: block;
            width: 58px;
            height: 58px;
            margin-right: 20px;
        }

        .icon-delivery {
            background: url("../assets/delivery.svg") no-repeat center;
        }

        .icon-present {
            background: url("../assets/present.svg") no-repeat center;
        }

        .icon-payment {
            background: url("../assets/wallet.svg") no-repeat center;
        }

        .icon-support {
            background: url("../assets/support.svg") no-repeat center;
        }

        section {
            display: flex;
            flex-direction: column;

            h3 {
                @include feature-h3-font;
                text-transform: capitalize;
            }

            p {
                @include feature-p-font;
            }
        }
    }
}

.offer-block {
    display: grid;
    grid-template-columns: 670px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "big small""big small";
    gap: 20px;
    margin: 10px 0;

    .offer-big {
        grid-area: big;
        background: url("../assets/offer/offer-1.jpg") no-repeat right center;
        background-size: cover;
        height: 510px;
    }

    .offer-right-top {
        background: url("../assets/offer/offer-2.jpg") no-repeat right center;
    }

    .offer-right-bottom {
        background: url("../assets/offer/offer-3.jpg") no-repeat right center;
    }

    .offer-item {
        box-sizing: border-box;
        padding: 30px;

        h3 {
            @include offer-h3-font;
            margin: 10px 0;
        }

        p {
            @include offer-p-font;
            margin-bottom: 10px;
        }

        a {
            @include offer-a-font;

            display: inline-flex;
            align-items: baseline;

            span {
                display: block;

                width: 11px;
                height: 9px;

                margin-left: 5px;

                background: url("../assets/arrow-right.svg") no-repeat center;
            }
        }

        background-color: #B0B0B0;
    }
}

.trending-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        @include trending-h2-font;
    }

    .trending-categories {
        display: flex;
        justify-content: center;
        column-gap: 70px;
        padding-bottom: 70px;
        padding-top: 45px;

        @include trending-categoies-font;

        a {
            @include font-inherit;
        }

        .trending-categories-active {
            color: $green;
        }
    }

    .trending-paginator {
        display: flex;
        margin-top: 60px;
        column-gap: 15px;

        li {
            display: block;

            width: 18px;
            height: 18px;

            border-radius: 50%;
            background-color: $white;
            border: 6px solid $green;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        .trending-paginator-active {
            background: $green;
        }
    }
}

.trending-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 45px;

    .trending-card {
        display: flex;
        flex-direction: column;
        position: relative;

        &:hover {
            .trending-card-menu {
                opacity: 1;
            }
        }

        h4 {
            @include trending-card-h4-font;
            margin-top: 5px;
            text-transform: capitalize;
        }

        p {
            @include trending-card-p-font;
            order: -1;
            margin-top: 15px;
        }

        img {
            order: -2;
            width: 100%;
        }

        .trending-card-badge {
            display: block;
            position: absolute;
            align-self: flex-start;
            padding: 2px 10px;
            border-bottom-right-radius: 5px;
            top: 0;
            left: 1px;

            @include trending-card-badge-font;
        }

        .trending-card-price {
            display: flex;
            align-items: center;
            margin-top: 10px;
            @include trending-card-price-font;

            &>span {
                margin-right: 10px;
            }

            .trending-card-old-price {
                color: $light-grey;
                font-weight: 400;
                text-decoration: line-through;
            }

            .trending-card-rating {
                display: block;
                margin-left: auto;
                width: 70px;
                height: 10px;
                background: url("../assets/rating.svg") no-repeat center;
            }
        }

        .trending-card-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            row-gap: 10px;

            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.4s;

            position: absolute;

            top: 90px;
            right: 10px;

            a {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;

                &:hover {
                    background-color: $green;
                }
            }

            .icon-heart {
                background: $white url("../assets/heart.svg") no-repeat center;
            }

            .icon-cart-plus {
                background: $white url("../assets/cart-plus.svg") no-repeat center;
            }

            .icon-refresh {
                background: $white url("../assets/refresh.svg") no-repeat center;
            }

            .icon-eye {
                background: $white url("../assets/eye.svg") no-repeat center;
            }
        }
    }
}

.products-paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 60px;
    align-self: flex-end;
    width: 570px;

    a {
        display: inline-flex;
        align-items: center;
        @include products-paginator-button-font;
        padding: 10px 20px;
        background-color: $green;
        margin-right: 20px;

        span {
            display: block;
            margin-left: 10px;
            width: 14px;
            height: 14px;
            background: url("../assets/arrow-right-white.svg") no-repeat center;
        }
    }

    @include products-paginator-font;


    form {
        display: flex;
        align-items: center;

        input {
            @include font-inherit;
            width: 40px;
            margin: 0 10px;
            border: 1px solid $text-grey;
            border-radius: 3px;
            text-align: center;
        }

        button {
            display: block;
            width: 30px;
            height: 30px;
            border: none;
            cursor: pointer;
        }

        p {
            margin-right: 10px;
        }

        .button-next {
            border-radius: 0 0 3px 3px;
            background: $green url("../assets/arrow-down.svg") no-repeat center;
            transform: rotate(-90deg);
        }

        .button-previous {
            border-radius: 0 0 3px 3px;
            background: $green url("../assets/arrow-down.svg") no-repeat center;
            transform: rotate(90deg);
        }
    }
}

.offer-special-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        @include trending-h2-font;
        margin-bottom: 40px;
    }

    .offer-special-card-list {
        display: flex;
        column-gap: 30px;

        .offer-special-card {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            position: relative;

            width: 570px;

            padding: 30px 20px;
            box-sizing: border-box;

            .offer-special-badge {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;
                border-bottom-left-radius: 5px;

                @include trending-card-badge-font;
            }

            h4 {
                @include trending-card-h4-font;
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            p {
                @include trending-card-p-font;
                text-transform: none;
                margin-bottom: 30px;
                width: 270px;
            }

            .offer-special-price {
                display: flex;
                column-gap: 20px;
                align-items: center;

                @include trending-card-price-font;

                .offer-special-old-price {
                    font-weight: normal;
                    color: $grey;
                    text-decoration: line-through;
                }
            }

            a {
                padding: 8px 12px;
                display: block;
                @include slide-a-font;
                background-color: $green;
                border-radius: 3px;
            }
        }

        .offer-special-card-left {
            background: url("../assets/offer/offer-special-1.jpg") no-repeat;
            background-size: cover;
        }

        .offer-special-card-right {
            background: url("../assets/offer/offer-special-2.jpg") no-repeat;
            background-size: cover;
        }

        .offer-special-times {
            display: flex;
            align-items: center;
            column-gap: 20px;
            margin-top: 30px;

            &>li {
                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                width: 40px;
                height: 40px;

                border-radius: 50%;
                background-color: $green;

                .offer-special-times-digits {
                    @include offer-special-times-digits;
                    margin: 0;
                }

                .offer-special-times-label {
                    @include offer-special-times-label;
                }
            }
        }
    }
}

.article-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    &>h2 {
        @include trending-h2-font;
        margin-bottom: 60px;
    }
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;

    align-self: stretch;

    .article-item {
        background-color: #00B7F1;
        border-radius: 10px;

        height: 450px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        position: relative;

        img {
            border-radius: 10px;
            width: 100%;
            top: 0;
            right: 0;
        }

        .article-item-text {
            position: absolute;
            padding: 40px;

            h3 {
                @include article-h3-font;
                margin-top: 30px;
            }

            a {
                @include article-a-font;
                padding: 5px;
            }
        }

        .article-promote {
            display: flex;
            align-items: center;
            column-gap: 10px;

            span {
                @include article-promotion-font;
                padding: 5px 10px;
                padding-left: 30px;
                border-radius: 3px;
                background: $white url("../assets/promotion.svg") no-repeat 8px center;
            }

            time {
                @include articel-date-font;
            }
        }
    }

}

.feedback-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 120px 0;

    h2 {
        @include trending-h2-font;
    }
}

.feedback-carousel {
    display: flex;
    align-items: center;
    margin-top: 80px;

    .feedback-carousel-previous {
        width: 75px;
        height: 75px;
        background: url("../assets/arrow-slide-right.svg") no-repeat center;
        transform: rotate(180deg);
        cursor: pointer;
    }

    .feedback-carousel-next {
        width: 75px;
        height: 75px;
        background: url("../assets/arrow-slide-right.svg") no-repeat center;
        cursor: pointer;
    }

    .feedback-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        background: #F8FAFB;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
        border-radius: 8px;

        padding: 50px 125px;
        padding-top: 80px;

        margin: 0 40px;

        .feedback-avatar {
            display: block;
            position: absolute;
            width: 88px;
            height: 88px;
            border-radius: 50%;
            top: -44px;
        }

        .feedback-comment {
            @include feedback-text-font;
            margin-bottom: 30px;

        }

        .feedback-author {
            @include feedback-author-font;
            margin-bottom: 10px;
        }

        .feedback-proffesi {
            @include feedback-proffesi-font;
        }
    }
}

.footer-block {
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
    margin-bottom: 50px;

    .footer-link {
        display: flex;
        flex-direction: column;

        h4 {
            @include footer-link-font;
            font-weight: bold;
        }

        a {
            @include footer-link-font;
        }
    }

    .footer-logo {
        width: 320px;

        a {
            display: flex;
            align-items: center;
            @include footer-logo-a-font;

            span {
                display: block;
                width: 32px;
                height: 39px;
                background: url("../assets/logo.svg") no-repeat center;
                margin-right: 10px;
            }
        }

        p {
            @include footer-logo-p-font;
        }

    }

    .footer-social {
        display: flex;
        column-gap: 15px;
        margin-top: 15px;

        a {
            display: block;
            width: 32px;
            height: 32px;
        }

        .icon-fb {
            background: url("../assets/fb.svg") no-repeat center;
        }

        .icon-tw {
            background: url("../assets/tw.svg") no-repeat center;
        }

        .icon-ig {
            background: url("../assets/ig.svg") no-repeat center;
        }

        .icon-pt {
            background: url("../assets/pt.svg") no-repeat center;
        }
    }
}

.footer-copyright-block {

    border-top: 2px solid #EAEAEA;

    .footer-copyright {
        display: flex;
        column-gap: 50px;

        padding-top: 35px;
        padding-bottom: 35px;

        :first-child {
            margin-right: auto;
        }

        @include footer-copyright-font;

        a {
            @include font-inherit;
        }
    }
}

a:hover,
button:hover {
    opacity: 0.7;
}
