@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-variable.ttf') format('truetype');
}

$white: #FFFFFF;
$green: #7AC751;
$grey: #B0B0B0;
$light-grey: #E9E9E9;
$text: #555555;
$nav-grey: #F7F8FA;
$nav-border: #E3E3E3;
$slide-dark: #2F2F2F;

@mixin font-inherit {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

@mixin header-welcome-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

@mixin header-search-logo-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $text;
}

@mixin header-search-input-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $text;
}

@mixin header-cart-badge-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 8px;
    color: $white;
}

@mixin header-navigation-main-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin aside-menu-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $text;
    text-transform: capitalize;
}

@mixin slide-h2-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $green;
    text-transform: uppercase;
}

@mixin slide-h3-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: $slide-dark;
    text-transform: capitalize;
}

@mixin slide-p-font {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
}

@mixin slide-a-font {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;
}

body {
    margin: 0;
    min-width: 1220px;

    min-height: 1400px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1px 15px;
}

.header-welcome-block {
    background-color: $green;
}

.header-welcome {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &>:first-child {
        margin-right: auto;
    }

    &>:last-child {
        border-left: 2px solid $white;
        padding-left: 20px;
        margin: 15px 0;
    }

    .header-welcome-item {
        @include header-welcome-font;

        a {
            @include font-inherit;
        }

        .header-welcome-item-region {
            display: flex;
            align-items: center;

            span {
                display: block;
                width: 12px;
                height: 12px;
                background: url("../assets/arrow-down.svg") no-repeat center;
                margin-left: 10px;
            }
        }
    }
}

.header-search-block {
    padding: 20px 0;
}

.header-search {
    display: flex;
    justify-content: space-between;

    .header-search-logo {
        display: flex;
        align-items: center;

        @include header-search-logo-font;

        span {
            display: block;
            width: 32px;
            height: 38px;
            margin-right: 5px;
            background: url("../assets/logo.svg") no-repeat center;
        }
    }
}

.header-search-form {
    display: flex;
    align-self: center;

    border: 2px solid $green;
    border-radius: 8px;

    .header-search-input {
        margin: 2px;
        border: none;
        padding: 15px 25px;
        width: 380px;
        @include header-search-input-font;

        &:focus {
            border-radius: 4px 0 0 4px;
            outline: none;
            background-color: $light-grey;
        }
    }

    .header-search-category {
        margin: 1px;
        border: none;
        border-left: 2px solid $light-grey;
        padding: 5px 10px;
        background-color: $white;
        border-right: 15px solid transparent;


        @include header-search-input-font;

        &:focus {
            outline: none;
            background-color: $light-grey ;
        }
    }

    .header-search-button {
        border: none;
        background: $green url("../assets/search.svg") no-repeat center;
        width: 55px;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            outline: none;
            opacity: 0.8;
        }
    }
}

.header-search-menu {
    display: flex;
    column-gap: 20px;
    align-items: center;

    a {
        display: flex;
        position: relative;

        span {
            display: block;
            width: 26px;
            height: 26px;
        }
    }

    .icon-cart {
        background: url("../assets/cart.svg") no-repeat center;
    }

    .cart-badge {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: -5px;
        top: -5px;

        width: 18px;
        height: 18px;

        border-radius: 50%;
        background-color: $green;

        @include header-cart-badge-font;
    }

    .icon-notify {
        background: url("../assets/notify.svg") no-repeat center;
    }

    .icon-profile {
        background: url("../assets/profile.svg") no-repeat center;
    }
}

.header-navigation-block {
    background: $nav-grey;
}

.header-navigation {
    display: flex;

    @include header-navigation-main-font;

    .header-decoration-block {
        display: flex;
        justify-content: center;
        column-gap: 20px;

        width: 260px;
        box-sizing: border-box;

        padding: 25px 35px;
        background-color: $green;
        color: $white;

        span {
            display: block;
            background: url("../assets/menu.svg") no-repeat center;
            width: 18px;
            height: 18px;
        }
    }
}

.header-navigation-main {
    display: flex;
    padding: 25px 80px;
    align-items: center;
    column-gap: 55px;

    a {
        color: $text;
        padding: 5px;
    }
}

.main-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    margin-top: -1px;
}

.aside-category-menu {
    background-color: $nav-grey;

    li:not(:last-child) {
        border-bottom: 1px solid $nav-border;
    }

    a {
        display: block;
        @include aside-menu-font;
        padding: 15px 20px;
    }
}

.content {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #F3FBFF;
}

.slider-block {
    position: relative;
}

.slider-controls {
    display: flex;
    column-gap: 20px;

    position: absolute;
    left: 45%;
    
    bottom: 20px;

    .slider-dot {
        display: block;
        width: 20px;
        height: 20px;
        background-color: $green;
        border-radius: 50%;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .slider-dot-active {
        opacity: 1;
    }
}

.slide {
    display: flex;
    justify-content: space-between;
    height: 440px;

    padding: 35px 45px;

    .slide-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 320px;

        h2 {
            margin: 0;
            margin-bottom: 10px;
            @include slide-h2-font;
        }

        h3 {
            margin: 0;
            margin-bottom: 30px;
            @include slide-h3-font;
        }

        p {
            @include slide-p-font;
            margin: 0;
            margin-bottom: 35px;
        }

        a {
            display: block;
            padding: 10px 20px;
            @include slide-a-font;
            background-color: $green;
            border-radius: 5px;
        }
    }

    .slide-image {
        display: flex;
        align-items: center;
        width: 370px;

        img {
            width: 100%;
        }
    }

    .slide-thumbs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95px;
            height: 95px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
            border: 2px solid #FFFFFF;
            border-radius: 8px;
        }
    }
}

















a:hover {
    opacity: 0.7;
}
