@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-regular.ttf') format('truetype');
}

$white: #FFFFFF;

@mixin font-inherit {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

@mixin header-welcome-font {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}

body {
    margin: 0;
    min-width: 1220px;
}

.container {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1px 15px;
}

.header-welcome {
    background-color: #7AC751;
}

.header-welcome-block {
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    &>:first-child {
        margin-right: auto;
    }

    &>:last-child {
        border-left: 2px solid #FFFFFF;
        padding-left: 20px;
        margin: 15px 0;
    }

    .header-welcome-item {
        @include header-welcome-font;

        a {
            display: block;
            text-decoration: none;
            @include font-inherit;
        }

        .header-welcome-item-region {
            display: flex;
            align-items: center;

            span {
                display: block;
                width: 12px;
                height: 12px;
                background: url("../assets/arrow-down.svg") no-repeat center;
                margin-left: 10px;
            }
        }
    }
}
